!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
!gradle-wrapper.jar
!gradle-wrapper.properties
!src/**/build/
**/build/
*.env
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.factorypath
.gradle
.gradletasknamecache
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
HELP.md
build/
gradle-app.setting
system.properties
target/
